<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ static_url("css/vendor/bootstrap.min.css")}}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{{ static_url("css/flat-ui.min.css")}}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ static_url("img/favicon.ico")}}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <div class="container" style="width:970px; margin: 0 auto">
      <div style="text-align: center">
        <h2>斗鱼直播控制台</h2>
      </div> <!-- /demo-headline -->
      <div class="login" style="margin: 0 auto">
        <div class="login-screen">
          <div class="login-icon">
            <img src="{{ static_url("img/douyu/logo.png")}}" alt="Welcome to Mail App" />
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control login-field" value="rtmp://send1a.douyutv.com/live" placeholder="rtmp地址" id="rtmp-url" />
              <!-- <label class="login-field-icon fui-user" for="login-name"></label> -->
            </div>

            <div class="form-group">
              <input type="textedit" class="form-control login-field" value="" placeholder="直播码" id="rtmp-code" />
              <!-- <label class="login-field-icon fui-lock" for="login-pass"></label> -->
            </div>
            <a class="btn btn-primary btn-lg btn-block" id="Start" href="#">Start</a>
          </div>

        <p> 注：
1、每次点击获取推流码都会重新生成直播码，每个直播码的有效期为5分钟。
2、只有切换推流线路才会导致rtmp地址发生变化。</p>

        </div>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="{{ static_url("js/vendor/jquery.min.js")}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_url("js/vendor/video.js")}}"></script>
    <script src="{{ static_url("js/flat-ui.min.js")}}"></script>
    <script src="{{ static_url("js/application.js")}}"></script>

  </body>
</html>
